    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    body {
        background: #f5f7fa;
        padding: 20px;
        font-family: 'Montserrat';
    }

    .wrapper {
        background: #ffffff;
        display: flex;
        flex-direction: row;
    }

    .sidebar {
        background: #1e2939;
        width: 370px;
        padding-top: 40px;
        padding-bottom: 40px;

    }

    .about-me {
        padding-left: 90px;
        padding-right: 90px;
        padding-top: 110px;
        padding-bottom: 110px;
    }

    .contacts-conteiner {
        margin-left: 40px;
        margin-top: 60px;
        margin-right: 40px;
    }

    .contacts-title {
        font-size: 22px;
        font-weight: 700;
        line-height: 24px;
        color: #ffffff;
    }