body {
    background-color: #e0d0a0;
}

.enter {
    transform: translate(10% , 50%);
}

#name {
    margin-bottom: 10px;
}

#lastName {
    margin-top: 20px;
    margin-bottom: 20px;
}

#backBtn {
    margin: 10px;
}